[user]
	email = kshkss@users.noreply.github.com
	name = Akishika Issui
[core]
	editor = vim
[merge]
	ff = false
[pull]
	ff = only

[maintenance]
	repo = /home/akishika/Git/pure
	repo = /home/akishika/Git/zsh-autocomplete
	repo = /home/akishika/Git/zsh-snap
